/* Navbar */

body {
	font-family: "Raleway", sans-serif;
}

.navbar-styling {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #eff2f4;
	font-family: "Raleway", sans-serif;
	border-bottom: 1px solid #999;
	min-height: 50px;
}

/* About us */

#about-image {
	background-image: url('./images/headline_image.jpg');
	height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;
  margin-top: 50px;
  border-bottom: 1px solid #999;
  position: relative;
}

#about {
	position: absolute;
	bottom: 230px;
}

#about-box {
	color: white;
	position: absolute;
	bottom: 0px;
	left: 20px;
	max-width: 350px;
}

#about-box p {
	font-size: 18px;
}

/* Portfolio */

#portfolio-box {
	background-color: #eff2f4;
}

#portfolio {
	position: absolute;
	bottom: 40px;
}

/* Footer */

.footer-box {
	text-align: center;
	background-color: #eff2f4;
	border-top: 1px solid #999;
}

.footer-box p {
	font-size: 12px;
}